.main-trucosguias{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
}

.contenedor-trucos{
    display: flex;
    justify-content: center;
    align-self: center;
}

.contenedor-guias{
    display: flex;
    justify-content: center;
    align-self: center;
}